:root {
  --tablet: 790px;
  --small-tablet: 650px;
  --smaller-tablet: 575px;
  --large-mobile: 540px;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff") format('woff');
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
}

@font-face {
  font-family: 'Tiro Gurmukhi';
  src: url("../fonts/TiroGurmukhi-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Bold.woff") format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

p,
a,
li {
  font-family: 'Open Sans', sans-serif;
}

li {
  margin-top: 10px;
}